# .coveragerc to control coverage.py
[run]
source = pandas_datareader
branch = True
include = */pandas_datareader/*
omit =
    */_version.py
    */yahoo/*


[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    # Don't complain if tests don't hit defensive assertion code:
    raise NotImplementedError
    raise ImmediateDeprecationError
    # Ignore pass
    pass
include = */pandas_datareader/*
omit =
    */_version.py
    */yahoo/*
ignore_errors = True
