include README.md
include LICENSE.md
include requirements.txt
include requirements-dev.txt
include pandas_datareader/*.py

include pandas_datareader/tests/*.py
include pandas_datareader/tests/data/*
include versioneer.py
include pandas_datareader/_version.py
